<div class="content-header" ng-style="{'background-image': 'url(' + <%= bg %> + ')'}">
	<div class="header-outline">
		<h2>
			<span class="ja" ng-cloak>{{<%= pageName %>.ja}}</span>
			<span class="en" ng-cloak>{{<%= pageName %>.en}}</span>
		</h2>
	</div>
</div>
