.global-navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background: rgba(#000, 0.75);
	z-index: 999;
	.navbar-wrapper {
		height: 48px;
		border-bottom: 2px solid $orange;
		.navbar-brand {
			float: left;
			.brand-anchor {
				overflow: hidden;
				display: block;
				width: 100px;
				height: 0;
				margin: 4px 0;
				padding-top: 40px;
				background: url(../img/logo.svg) center center no-repeat;
				background-size: contain;
			}
		}
		.navbar-toggle {
			float: right;
			.toggle-anchor {
				display: block;
				width: 48px;
				height: 48px;
				font-size: 35px;
				color: #fff;
				line-height: 48px;
				text-align: center;
				text-decoration: none;
			}
		}
	}
}

.navbar-collapse {
	position: fixed;
	top: 55px;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(#000, 0.75);
	z-index: 99999;
	.navbar-nav {
		padding: 10px 0;
		box-sizing: border-box;
		.nav-item {
			.nav-anchor {
				display: block;
				width: 200px;
				margin: 0 auto;
				padding: 10px 0;
				text-decoration: none;
				text-align: center;
				color: #fff;
				.ja {
					display: block;
					font-size: 24px;
					line-height: 25px;
					font-family: Dejima;
				}
				.en {
					display: block;
					margin-top: 5px;
					font-size: 12px;
					line-height: 16px;
					font-family: sans-serif;
				}
			}
		}
	}
	.btn-close {
		display: block;
		width: 200px;
		height: 40px;
		margin: 10px auto 0;
		border: 1px solid  #fff;
		background: none;
		line-height: 40px;
		text-align: center;
		font-family: sans-serif;
	}
}