<%- include('./views/_head', {
  pageName: 'トップページ',
  controller: 'index'
}) %>

  <ng-include src="viewsNavbar"></ng-include>

  <ng-include src="viewsIndexHeader"></ng-include>

  <main class="main-area mg-navbar" id="main">

    <div class="container">
      <div class="main-content left">
        <div class="monthly-recommend">
          <h3><span class="ja">今月のおすすめ</span><span class="en">Monthly Recommend</span></h3>
          <div class="recommend">
            <div class="eyecatch">
              <img ng-src="/assets/img/menu-img/{{recItem.image}}.jpg" alt="{{recItem.name}}">
            </div>
            <div class="details">
              <div class="name">
                {{recItem.name}}
              </div>
              <div class="price">
                {{recItem.price | number}}円
              </div>
              <div class="comment" ng-bind-html="recItem.comment"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar right">
        <ng-include src="'common/sidebar.html'"></ng-include>
      </div>
    </div>
  </main>

  <ng-include src="viewsFooter"></ng-include>

  <% include views/_scripts %>

</body>
</html>