<%- include('./views/_head', {
	pageName: '店舗情報',
	controller: 'info'
}) %>

	<ng-include src="viewsNavbar"></ng-include>

	<main class="main-area">

		<div class="container">

			<%- include('./views/_header', {
				bg: 'headerBg',
				pageName: 'pageName'
			}) %>

			<div class="main-content wide information">
			</div>

			<div class="main-content left">

				<iframe class="map-canvas" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAG7OxS3Csn54tNNU3zJK2v4u6M1ZwNfyg&q=%e5%b1%b1%e5%8f%a3%e7%9c%8c%e5%ae%87%e9%83%a8%e5%b8%82%e5%ba%8a%e6%b3%a2%ef%bc%91%e4%b8%81%e7%9b%ae%ef%bc%95%e2%88%92%ef%bc%91%ef%bc%90&zoom=17" frameborder="0" allowfullscreen style="width: 100%; height: 400px"></iframe>

				<table class="table">
					<tr>
						<th>居酒屋営業</th>
						<td>
							金曜日・土曜日 18時〜24時（L.O.23時半）<br>
							<strong>4名様以上のご予約を承った場合も営業します</strong>
						</td>
					</tr>
					<tr>
						<th>定食営業</th>
						<td>
							月曜日〜木曜日・土曜日 11時半〜14時（L.O.13時半）
						</td>
					</tr>
					<tr>
						<th>定休日</th>
						<td>
							火曜日・日曜日
						</td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td>0836-51-5700</td>
					</tr>
					<tr>
						<th>ご予約</th>
						<td><a href="/reserve.html">ご予約フォーム</a> または お電話で</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>
							〒755-0153<br>
							宇部市床波1-5-10
						</td>
					</tr>
					<tr>
						<th>アクセス</th>
						<td>
							宇部線「床波」駅徒歩2分<br>
							宇部市営バス「床波」バス停前
						</td>
					</tr>
				</table>

			</div>

			<div class="sidebar right">

    		    <ng-include src="'common/sidebar.html'"></ng-include>

			</div>

		</div>

	</main>

	<ng-include src="viewsFooter"></ng-include>

	<% include views/_scripts %>

</body>
</head>